.icon {
  padding: 5px 10px;
  border: none;
  outline: 0px;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
}

.login-container .icon {
  margin-right: 10px;
}

.linkedin {
  background: #4875B4;
  color: white;
}

.github {
  background: #4875B4;
  color: white;
}

header {
  padding: 10px 0px;
}

.header-title {
  font-size: 2.4em;
  text-align: center;
  font-weight: bold;
}

.user-details {
  position: absolute;
  right: 10px;
  top: 30px;
  float: right;
}

.login-container {
  width: 40%;
  margin: 0px auto;
}

.center {
  text-align: center;
}

.marginT10 {
  margin-top: 10px;
}
